<!DOCTYPE html>
<html>

<head>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    tr:hover {
      background-color: yellow;
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css" />
  <!-- <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" /> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <!--===============================================================================================-->
</head>

<body>
  <div>
    <br />
    <br />
    <h1>Security Agencies</h1>
    <br /><br />
    <table>
      <tr>
        {%for i in colnames_sec_agency%}
        <th style="font-weight: bold">{{i}}</th>
        {%endfor%}
      </tr>
      {% for r in rows_sec_agency %}
      <tr>
        <form action="http://localhost:5000/SAUpdate" method="post">
          <td><input type="text" name='0' value="{{r[0]}}"></td>
          <td>{{r[1]}}</td>
          <td><input type="text" name='2' value="{{r[2]}}"></td>
          <td>{{r[3]}}</td>
          <td>

            <input type="hidden" name="password" value="{{ adminSA }}" />
            <input type="hidden" name="uid" value="{{ r[1] }}" />
            <div class="container-login100-form-btn" style="width: 15%;">
              <button type="submit" name="submit" class="login100-form-btn" value="{{user,password}}">Save
              </button>
            </div>
        </form>
        </td>
      </tr>
      {% endfor %}
    </table>

    <br />
    <br /><br />

    <h1>Principle Employers</h1>

    <br /><br />
    <table>
      <tr>
        {%for i in colnames_pe%}
        <th style="font-weight: bold">{{i}}</th>
        {%endfor%}
      </tr>
      {% for r in rows_pe %}
      <tr>
        {% for i in r %}
        <td>{{i}}</td>
        {%endfor%}
      </tr>
      {% endfor %}
    </table>

    <form action="http://localhost:5000/Loginresult" method="post">
      <input type="hidden" name="email" value="admin" />
      <input type="hidden" name="pass" value="admin" />
      <div class="container-login100-form-btn" style="width: 15%;">
        <button type="submit" name="guards" class="login100-form-btn" value="{{user,password}}">continue
        </button>
      </div>
    </form>

  </div>
</body>

</html>